<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aws.bq.dao.IContractDAO" >

  <resultMap id="BaseResultMap" type="com.aws.bq.model.Contract" >
    <id column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="contract_num" property="contractNum" jdbcType="VARCHAR" />
    <result column="client_mobile" property="clientMobile" jdbcType="VARCHAR" />
    <result column="client_num" property="clientNum" jdbcType="VARCHAR" />
    <result column="capital" property="capital" jdbcType="VARCHAR" />
    <result column="contract_status" property="contractStatus" jdbcType="TINYINT" />
    <result column="contract_name" property="contractName" jdbcType="VARCHAR" />
    <result column="directory" property="directory" jdbcType="VARCHAR" />
    <result column="sign_date" property="signDate" jdbcType="TIMESTAMP" />
    <result column="identity_card_num" property="identityCardNum" jdbcType="VARCHAR" />
    <result column="s3_bucket" property="s3Bucket" jdbcType="VARCHAR" />
    <result column="s3_key" property="s3Key" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    contract_id, contract_num, client_mobile, client_num, capital, contract_status, contract_name, 
    directory, sign_date, identity_card_num, s3_bucket, s3_key, create_time, update_time, 
    operator, del
  </sql>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from contract
  </select>

  <select id="findByContract" resultMap="BaseResultMap" parameterType="com.aws.bq.model.Contract" >
    select 
    <include refid="Base_Column_List" />
    from contract
    <where>
      <if test="contractId != null" >
        and contract_id = #{contractId,jdbcType=VARCHAR}
      </if>
      <if test="contractNum != null" >
        and contract_num = #{contractNum,jdbcType=VARCHAR}
      </if>
      <if test="clientMobile != null" >
        and client_mobile = #{clientMobile,jdbcType=VARCHAR}
      </if>
      <if test="clientNum != null" >
        and client_num = #{clientNum,jdbcType=VARCHAR}
      </if>
      <if test="capital != null" >
        and capital = #{capital,jdbcType=VARCHAR}
      </if>
      <if test="contractStatus != null" >
        and contract_status = #{contractStatus,jdbcType=TINYINT}
      </if>
      <if test="contractName != null" >
        and contract_name = #{contractName,jdbcType=VARCHAR}
      </if>
      <if test="directory != null" >
        and directory = #{directory,jdbcType=VARCHAR}
      </if>
      <if test="signDate != null" >
        and sign_date = #{signDate,jdbcType=TIMESTAMP}
      </if>
      <if test="identityCardNum != null" >
        and identity_card_num = #{identityCardNum,jdbcType=VARCHAR}
      </if>
      <if test="s3Bucket != null" >
        and s3_bucket = #{s3Bucket,jdbcType=VARCHAR}
      </if>
      <if test="s3Key != null" >
        and s3_key = #{s3Key,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="operator != null" >
        and operator = #{operator,jdbcType=VARCHAR}
      </if>
      <if test="del != null" >
        and del = #{del,jdbcType=TINYINT}
      </if>
    </where>
  </select>

  <update id="delete" parameterType="java.lang.String" >
    update contract
    set del = 1
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </update>

  <insert id="insert" parameterType="com.aws.bq.model.Contract" >
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        contract_id,
      </if>
      <if test="contractNum != null" >
        contract_num,
      </if>
      <if test="clientMobile != null" >
        client_mobile,
      </if>
      <if test="clientNum != null" >
        client_num,
      </if>
      <if test="capital != null" >
        capital,
      </if>
      <if test="contractStatus != null" >
        contract_status,
      </if>
      <if test="contractName != null" >
        contract_name,
      </if>
      <if test="directory != null" >
        directory,
      </if>
      <if test="signDate != null" >
        sign_date,
      </if>
      <if test="identityCardNum != null" >
        identity_card_num,
      </if>
      <if test="s3Bucket != null" >
        s3_bucket,
      </if>
      <if test="s3Key != null" >
        s3_key,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="del != null" >
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="contractNum != null" >
        #{contractNum,jdbcType=VARCHAR},
      </if>
      <if test="clientMobile != null" >
        #{clientMobile,jdbcType=VARCHAR},
      </if>
      <if test="clientNum != null" >
        #{clientNum,jdbcType=VARCHAR},
      </if>
      <if test="capital != null" >
        #{capital,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null" >
        #{contractStatus,jdbcType=TINYINT},
      </if>
      <if test="contractName != null" >
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="directory != null" >
        #{directory,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=TIMESTAMP},
      </if>
      <if test="identityCardNum != null" >
        #{identityCardNum,jdbcType=VARCHAR},
      </if>
      <if test="s3Bucket != null" >
        #{s3Bucket,jdbcType=VARCHAR},
      </if>
      <if test="s3Key != null" >
        #{s3Key,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>